<!-- footer.component.html -->

<div class="container-fluid footer">
    <div class="row text-center py-4">
  
      <!-- Logo -->
      <div class="col-md-12">
        <img class="cursor-pointer" src="../../assets/logo.png" alt="logo" style="width: 150px;">
      </div>
  
      <!-- Navigation Items (Centered) -->
      <ul class="col-md-12 d-md-flex justify-content-around list-unstyled">
        <li class="mx-4 cursor-pointer red-text link fw-bold">Home</li>
        <li class="mx-4 cursor-pointer text-white link fw-bold">Trainers</li>
        <li class="mx-4 cursor-pointer text-white link fw-bold">Market</li>
        <li class="mx-4 cursor-pointer text-white link fw-bold">Contact Us</li>
      </ul>
    </div>
  </div>
  