
<div class="container-fluid">
    <div class="row">
      <!-- Left Sidebar with Filters -->
      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Filter By</h5>
            <form>
              <div class="form-check">
               
                  <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                 
                
              </div>
              
              <!-- Add more filters as needed -->
            </form>
          </div>
        </div>
      </div>
  
      <!-- Right Content Area for Product Listing -->
      <div class="col-md-9">
        <product-list></product-list>
      </div>
    </div>
  </div>