
<div class="card item" >
  <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
  <div class="img-box">
    <img class="card-img-top" src="assets\product.jpg" alt="Card image cap">
  </div>
    <div class="card-body">
      <h5 class="card-title">{{product.name}}</h5>
      <p class="item-price">{{product.price}} DT</p>
      <button  class="btn btn-primary" [disabled]="productInCart" (click)="addItemToCart()">{{ productInCart? 'Item already in the Cart': 'Add to Cart'}}</button>
    </div>
  </div>
  