
<div   class="card item cursor-pointer" >
  <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
  <div class="img-box" (click)="viewDetails()">
    <img class="card-img-top" [src]="product.photo" alt="Card image cap">
  </div>
    <div class="card-body">
      <h5 class="card-title" (click)="viewDetails()">{{product.name}}</h5>
      <p class="item-price" (click)="viewDetails()">{{product.price}} DT</p>
      <button  class="btn btn-primary" [disabled]="productInCart" (click)="addItemToCart()">{{ productInCart? 'Item already in the Cart': 'Add to Cart'}}</button>
      
    </div>
  </div>
  