<!-- hero.component.html -->

<div class="hero-container" [ngStyle]="{ 'background-image': 'url(assets/hero.jpg)' }">
    <div class="hero-content">
      <div class="text-container">
        <h1 class="text-5xl font-bold ">
            <span class="text-white">Ready to train</span><br />
            <span class="red-text">Your Body</span><br />
        </h1>
        <p class="text-white">Gym training is a structured and disciplined approach to physical exercise that focuses on strength, endurance and overall fitness improvement.</p>
        <button class="btn btn-danger">Get Started</button>
      </div>
  
      <!-- Static Stats -->
      <div class="static-stats">
        <div class="stat">
          <div class="value">500+</div>
          <div class="label">Members</div>
        </div>
        <div class="stat">
          <div class="value">20+</div>
          <div class="label">Instructors</div>
        </div>
        <div class="stat">
          <div class="value">50+</div>
          <div class="label">Classes</div>
        </div>
      </div>
    </div>
  </div>
  