<!-- product-details.component.html -->

<div class="product-details-container" *ngIf="product">
    <div class="product-image">
      <img src="assets\product.jpg" alt="Product Image">
    </div>
    <div class="product-info">
      <h2 class="red-text fw-bolder">{{ product.name }}</h2>
      <p class="bold text-black-75">Type : {{ product.productType }}</p>
      <p class="description bold">{{ product.description }}</p>
      <p class="price">Price: {{ product.price }}dt</p>
      <button   [disabled]="productInCart" (click)="addItemToCart()">{{ productInCart? 'Item already in the Cart': 'Add to Cart'}}</button>
    </div>
  </div>
  