
<div class="card item" >
    <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
    <div class="img-box">
      <img class="card-img-top" src={{coach.image}} alt="Card image cap">
    </div>
      <div class="card-body">
        <h5 class="card-title">{{coach.name}} {{coach.lastName}}</h5>
        <p class="item-price">{{coach.ProgramPrice}} DT</p>
        <a href="#" class="btn btn-primary">Add to Cart</a>
        <button  class="btn btn-primary"  (click)="viewDetails()">ViewDetails</button>
      </div>
    </div>
    