
<div class="register-container" [ngStyle]="{ 'background-image': 'url(assets/download.jpg)' }">
    
    <div class="register-box">
      <h2 class="text-white">Register</h2>
      <form #registerForm="ngForm" (ngSubmit)="register()">
      <div class="form-group">
        <label for="name" class="text-white">Name:</label>
        <input type="text" id="name" class="form-control" placeholder="Enter your name" #name="ngModel" required minlength="2" maxlength="30" [(ngModel)]="newUser.name" name="name">
        <small id="nameHelp" *ngIf="name.invalid && (name.dirty || name.touched)">
          Name is required and must be between 2 and 30 characters.
        </small>
      </div>
    
      <div class="form-group">
        <label for="lastname" class="text-white">Last Name:</label>
        <input type="text" id="lastname" class="form-control" #lastname="ngModel" placeholder="Enter your last name" required minlength="2" maxlength="30" [(ngModel)]="newUser.lastName" name="lastname">
        <small id="lastnameHelp" *ngIf="lastname.invalid && (lastname.dirty || lastname.touched)">
          Last Name is required and must be between 2 and 30 characters.
        </small>
      </div>
    
      <div class="form-group">
        <label for="age" class="text-white">Age:</label>
        <input type="number" id="age" class="form-control" #age="ngModel" placeholder="Enter your age" required min="18" max="99" [(ngModel)]="newUser.age" name="age">
        <small id="ageHelp" *ngIf="age.invalid && (age.dirty || age.touched)">
          Age is required and must be between 18 and 99.
        </small>
      </div>
    
      <div class="form-group">
        <label for="phone" class="text-white">Phone Number:</label>
        <input type="number" id="phone" class="form-control" #phone="ngModel" placeholder="Enter your phone number" pattern="[0-9]{8}" [(ngModel)]="newUser.phoneNumber" name="phone">
        <small id="phoneHelp" *ngIf="phone.invalid && (phone.dirty || phone.touched)">
          Phone Number is required and must be a valid 8-digit number.
        </small>
      </div>
      <div class="form-group">
        <label for="email" class="text-white">Email:</label>
        <input type="email" email id="email" name="email" class="form-control" placeholder="Enter your email" #email="ngModel" required [(ngModel)]="newUser.email" 
        [ngClass]="{'invalid': email.invalid && (email.dirty || email.touched)}">
        <small id="helpId"  *ngIf="email.invalid && (email.dirty || email.touched)">Email is not valid</small>
      </div>
      <div class="form-group">
        <label for="password" class="text-white">Password:</label>
        <input type="password" id="password" class="form-control" #password="ngModel" placeholder="Enter your password" required minlength="6" [(ngModel)]="newUser.password" name="password">
        <small id="passwordHelp" *ngIf="password.invalid && (password.dirty || password.touched)">
          Password is required and must be at least 6 characters.
        </small>
      </div>
     
      <button class="btn btn-primary" type="submit" [disabled]="!registerForm.valid">Register</button>
      <p class="text-white mt-3">Already a member? <a routerLink="/login">Login Now</a></p>
    </form>
    </div>
  </div>
  <div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':display}">
    <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
                <div class="modal-header">
                      <h4 class="modal-title">{{message}}</h4>
                      <button type="button" class="close" aria-label="Close" (click)="onCloseHandled()"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body" *ngIf="!successful">
                      {{bodyMessage}}
                    </div>
           
                <div class="modal-footer">
                      <button type="button " class="btn btn-danger" (click)="onCloseHandled()" >{{registerButtonText}}</button>
                    </div>
       </div>
        </div>
</div>