<!-- choose-us.component.html -->

<div class="bg-3 text-center py-5">
    <h1 class="text-5xl font-bold">
      <span class="text-white">WHY </span>
      <span class="red-text">CHOOSE US</span>
    </h1>
    <p>Gym workouts offer a versatile and customisable experience, allowing everyone to set specific fitness goals.</p>
  
    <div class="container mt-5">
        <div class="row justify-content-around">
          <!-- Case 1 -->
          <div class="col-md-5 choose-case">
            <div class="text-white case-border rounded-circle">01</div>
            <h2 class="red-text title text-left ">PERSONAL TRAINING</h2>
            <p class="text-left">Our gyms offer personalized training sessions with certified personal trainers who create customized workout plans based on individual goals.</p>
          </div>
    
          <!-- Case 2 -->
          <div class="col-md-5 choose-case">
            <div class="text-white case-border rounded-circle">02</div>
            <h2 class="red-text title text-left ">Equipment and Facilities</h2>
            <p class="text-left">Our gyms offer personalized training sessions with certified personal trainers who create customized workout plans based on individual goals</p>
          </div>
        </div>
    
        <div class="row mt-4 justify-content-around">
          <!-- Case 3 -->
          <div class="col-md-5 choose-case">
            <div class="text-white case-border rounded-circle">03</div>
            <h2 class="red-text title text-left ">SPECIALITY PROGRAMS </h2>
            <p class="text-left">Our gyms offer personalized training sessions with certified personal trainers who create customized workout plans based on individual goals</p>
          </div>
    
          <!-- Case 4 -->
          <div class=" col-md-5 choose-case">
            <div class="case-border rounded-circle text-white">04</div>
            <h2 class="red-text title text-left ">FINE PRODUCTS</h2>
            <p class="text-left">Our website will offer you quality products you will need to help you build the body of your dream.</p>
          </div>
        </div>
      </div>
    </div>