<!-- login.component.html -->
<app-header></app-header>
<div class="login-container" [ngStyle]="{ 'background-image': 'url(assets/download.jpg)' }">
    <div class="login-box">
      <h2 class="text-white fw-bold">LOGIN</h2>
      <div class="form-group">
        <label for="email" class="text-white fw-bold">Email:</label>
        <input type="email" id="email" class="form-control" placeholder="Enter your email">
      </div>
      <div class="form-group">
        <label for="password" class="text-white fw-bold">Password:</label>
        <input type="password" id="password" class="form-control" placeholder="Enter your password">
      </div>
      <button class="btn btn-primary">Login</button>
      <p class="text-white mt-3">Don't have an account? <a href="#">Register</a></p>
    </div>
  </div>
  