
  <div class="card-group " style="margin-bottom: 10px">

  <div class="card">
    <img class="card-img-top"  src="assets/new-user.png" alt="Card image cap" style="width: 65px; height: 65px">
    <div class="card-body">
      <h5 class="card-title">New Users</h5>
      <p class="card-text" style="font-family: Arial;font-weight: bold">+21%</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top"  src="assets/best-seller.png" alt="Card image cap" style="width: 65px; height: 65px">
    <div class="card-body">
      <h5 class="card-title">Best Sellers</h5>
      <p class="card-text" style="font-family: Arial;font-weight: bold" >PER4M WHEY PROTEIN</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 38 mins ago</small>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="assets/completed.png" alt="Card image cap" style="width: 65px; height: 65px">
    <div class="card-body">
      <h5 class="card-title">Orders</h5>
      <p class="card-text"  style="font-family: Arial;font-weight: bold">+31%</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 11 mins ago</small>
    </div>
  </div>
</div>
  <app-dashboardschart  style="height:5%;width: 100%;position: relative"></app-dashboardschart>
