
<form>

  <div class="row">
    <div class="col">
      <input   [(ngModel)]="UrlValue"  name="imgUrlInput"  type="text" class="form-control" placeholder="imageUrl">
    </div>
    <div class="col">
      <input [(ngModel)]="EmailValue"  name="imgUrlInput" type="email" class="form-control" placeholder="Email">
    </div>
    <div class="col">
      <input [(ngModel)]="nameValue"  name="imgUrlInput" type="text" class="form-control" placeholder="name">
    </div>
    <div class="col">
      <input [(ngModel)]="lastnameValue"  name="imgUrlInput" type="text" class="form-control" placeholder="lastname">
    </div>
    <div class="col">
        <input [(ngModel)]="ageValue"  name="ageInput" type="number" class="form-control" placeholder="age">
    </div>
    <div class="col">
      <input [(ngModel)]="PhoneNumberValue"  name="imgUrlInput" type="number" class="form-control" placeholder="PhoneNumber ">
    </div>
    <div class="col">
      <input [(ngModel)]="BalanceValue" name="imgUrlInput" type="number" class="form-control" placeholder="Balance">
    </div>
    <div class="col">
      <input [(ngModel)]="PasswordValue" name="imgUrlInput" type="text" class="form-control" placeholder="Password">
    </div>


    <div class="col">
      <button type="button" class="btn btn-success me-1" (click)="addUser()">Add</button>
    </div>

  </div>
</form>
<div style="margin-top: 10px" class="row" >
<div class="form-check col " >
  <input class="form-check-input" type="checkbox" id="filterByName" (change)="updateFilters('name')">
  <label class="form-check-label" for="filterByName">
    Filter by Name
  </label>
</div>

<div class="form-check col" >
  <input class="form-check-input" type="checkbox" id="filterById" (change)="updateFilters('id')">
  <label class="form-check-label" for="filterById">
    Filter by ID
  </label>
</div>

<div class="form-check col">
  <input class="form-check-input" type="checkbox" id="filterByBalance" (change)="updateFilters('balance')">
  <label class="form-check-label" for="filterByBalance">
    Filter by Balance
  </label>
</div>


  </div>


<table class="table table-sm">

  <thead>
  <tr>
    <th scope="col">image</th>
    <th scope="col">Id</th>
    <th scope="col"></th>
    <th scope="col">Email</th>
    <th scope="col"></th>
    <th scope="col">name</th>
    <th scope="col"></th>
    <th scope="col">PhoneNumber</th>
    <th scope="col"></th>
    <th scope="col">Solde</th>
    <th scope="col"></th>
    <th scope="col"></th>
    <th scope="col">Actions</th>


  </tr>

  </thead>

  <tbody>



  <tr *ngFor="let th of filterRows(); let i = index">
    <th scope="row" ><img [src]="row[i]['image']" class="rounded-circle" alt="" style="width: 45px; height: 45px" /></th>
    <td colspan="2"  [innerText]="row[i]['id']"></td>
    <td colspan="2"  [innerText]="row[i]['email']"></td>
    <td colspan="2" [innerText]="row[i]['name']" ></td>
    <td colspan="2" [innerText]="row[i]['phoneNumber']" ></td>
    <td colspan="2" [innerText]="row[i]['solde']"></td>


    <td colspan="2">
      <button type="button" class="btn btn-danger me-1" (click)="deleteRow(th)">Delete</button>
      <button type="button" class="btn btn-warning me-1" (click)="editUser(th)">Edit</button>
    </td>

  </tr>


  </tbody>

</table>


